{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
        Barry Grayson
      </h1>
      <h2 class="govuk-heading-l">
        Request for early help support and targeted services
      </h2>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Previous assessments
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="mash" aria-describedby="eligibility-status">
                  Multi Agency Safeguarding Hub (MASSH) assessment
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Overview
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="concern-areas" aria-describedby="eligibility-status">
                  Concern areas
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Concerns
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="behaviour" aria-describedby="eligibility-status">
                  Behaviour
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>

      </ol>

      {{ govukButton({
        text: 'Continue',
        href: 'task-list-8'
      }) }}
  
    </div>
  </div>

{% endblock %}
