{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Check your answers before sending your request</h2>

  <form action="mash" method="post">

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Safety of the child</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Is the child in any immediate danger?
        "
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Consent</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Do you have consent from the parent or guardian of the child?
        "
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Locality</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Primary post code of the family"
      },
      value: {
        text: "HD9 4NW"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Local authority"
      },
      value: {
        text: "Kirklees Council"
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">People aged 0 to 19 (or 25 with SEN)</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Barry"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: "Grayson"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: "16 December 2018"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Gender"
      },
      value: {
        html: 'Male'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Primary address"
      },
      value: {
        html: '<p>29 Howard Way <br>Meltham <br>Holmfirth <br>HD9 4NW'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Disabilities"
      },
      value: {
        html: 'None'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Ethnicity"
      },
      value: {
        html: 'White'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the child need a translator?"
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Adults living in the house</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Relationship to child"
      },
      value: {
        text: "Mother"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Parental responsibilities"
      },
      value: {
        text: "Full-time"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Mary"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        html: 'Grayson'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: '5 May 1990'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Gender"
      },
      value: {
        html: 'Female'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },

    {
      key: {
        text: "Contact number"
      },
      value: {
        html: '07123456789'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Primary address"
      },
      value: {
        html: '<p>29 Howard Way <br>Meltham <br>Holmfirth <br>HD9 4NW'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Ethnicity"
      },
      value: {
        html: 'White'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Significant other people</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Are there any other significant adults related to this request who don't live in the house?
        "
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Your details</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Job title"
      },
      value: {
        text: "Example"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "First name"
      },
      value: {
        text: "Example"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        html: "Example"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Contact number"
      },
      value: {
        html: '07123456789'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        html: 'example@example.com'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Organisation"
      },
      value: {
        html: 'Example Ltd.'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
    ,
    {
      key: {
        text: "Address"
      },
      value: {
        html: 'Example Ltd<br> 2 Example Street<br> City'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Other professionals</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Are there any other professionals working with this child or family excluding yourself?
        "
      },
      value: {
        text: "No"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Services required by</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Who the services are required by
        "
      },
      value: {
        text: "Barry Grayson"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}


<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Request reasons</h3>
{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Barry Grayson"
    }
  },
  {
    key: {
      text: "Has a Multi Agency Safeguarding Hub (MASH) assessment been carried out?"
    },
    value: {
      text: "No"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "Concern area"
    },
    value: {
      text: "Behaviour"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "When did Barry start exhibiting the behaviour issues?"
    },
    value: {
      text: "1 January 2015"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "Describe the behaviour"
    },
    value: {
      text: "Example"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "What looks to be the cause of the concern?"
    },
    value: {
      text: "Example"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "What are the behaviours demonstrated affecting?"
    },
    value: {
      text: "Example"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "Have actions been taken already to try remedy the behaviour?"
    },
    value: {
      text: "Yes"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "What actions have been taken that have not worked?"
    },
    value: {
      text: "Example"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "What actions have been taken that have worked?"
    },
    value: {
      text: "Example"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  }
  ]
})}}

<h3 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Other family history</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Mary Grayson
        "
      }
    },
    {
      key: {
        text: "Tell us the details around the historical concerns Mary has had
        "
      },
      value: {
        text: "Example"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}


    {{ govukButton({
      text: 'Send request',
      href: 'confirm'
    }) }}

  </form>

</div>
  </div>

{% endblock %}
