{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Request for early help support and targeted services
      </h1>

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Pre-request requirements
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="child" aria-describedby="eligibility-status">
                  Immediate safety
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="child" aria-describedby="eligibility-status">
                  Consent of the family
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="child" aria-describedby="eligibility-status">
                  Primary family post code
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>People aged 0 to 19 (or 25 with SEN)
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Barry Grayson
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="child" aria-describedby="eligibility-status">
                  Add another person
                </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Parents and guardians
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Mary Grayson
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="adults" aria-describedby="eligibility-status">
                  Add another person
                </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Significant other people
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="are-there-any-other-significant-adults" aria-describedby="eligibility-status">
                  Add a person
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span>Your details
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="your-details" aria-describedby="eligibility-status">
                  Your details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span>Other professionals
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="are-there-any-other-professionals" aria-describedby="eligibility-status">
                  Add a person
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span>Services required by
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="who-requires-services" aria-describedby="eligibility-status">
                  Select who requires services
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span>Request reasons
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">Select who requires services first</span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">9. </span>Other family history
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Family history
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>


      </ol>
    </div>
  </div>

{% endblock %}
