{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  
<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Other significant people</h2>
  
   {{ govukInsetText({
    text: "This should not include relationships with professionals"
  }) }}

  <form action="are-there-any-other-significant-adults" method="post">

  {{ govukRadios({
      idPrefix: "significantadults",
      name: "significantadults",
      fieldset: {
        legend: {
          text: "Are there any other significant adults related to this request who don't live in the house?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {},
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

</div>
  </div>

{% endblock %}