{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

{{ govukBackLink({
    text: "Back",
    href: "/v4/referral"
  }) }}

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Safety of the child</h2>

   {{ govukInsetText({
    text: "It is your responsibility to ensure the immediate safety of the child you are requesting support for. If you cannot ensure this, you must dial 999 to report your concern to the police."
  }) }}

  <form action="immediate-danger" method="post">

  {{ govukRadios({
      idPrefix: "immediatedanger",
      name: "immediatedanger",
      fieldset: {
        legend: {
          text: "Is the child in any immediate danger?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {},
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

</div>
  </div>

{% endblock %}
