{% extends "layout.html" %}

{% block pageTitle %}
    Info sharing - Directory service
{% endblock %}

{% block content %}
    {% include './includes/record-header-dynamic.html' %}

    <div class="govuk-grid-row">


        {% from "govuk/components/tabs/macro.njk" import govukTabs %}
        {% from "govuk/components/table/macro.njk" import govukTable %}
      {% include './includes/record-overview-dynamic.html' %}
    </div>




    {% set aboutHTML %}
        {% include './includes/about-dynamic.html' %}
    {% endset -%}

    {% set timelineHTML %}
        {% include './includes/timeline-dynamic.html' %}
    {% endset %}

    {{ govukTabs({
        items: [
            {
                label: "Professional support timeline",
                id: "timeline",
                panel: {
                html: timelineHTML
            }
            },
            {
                label: "About " + profile.firstName,
                id: "about",
                panel: {
                html: aboutHTML
            }
            }
        ]
    }) }}

    <a href="child-search" class="govuk-link">Search for another child</a>


    </div>
    </div>

{% endblock %}
