
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Directory service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <a href="child-record-results" class="govuk-link ">Back to results</a>
      </div>
      </div>
      <h1 class="govuk-heading-xl ">

        Fred Bloggs
        <span class="govuk-caption-m">
          Last updated: 22nd Jan 2022
        </span>
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,

            rows: [
              [
                {
                  text: "Date of birth"
                },
                {
                  text: "10 Feb 2018 (age 4)"
                }
              ],
              [
                {
                  text: "Unique identifier"
                },
                {
                  text: "746-987-3432"
                }
              ],
              [
                {
                  text: "Gender"
                },
                {
                  text: "Male"
                }
              ],
              [
                {
                  text: "Ethnic group"
                },
                {
                  text: "White"
                }
              ],
              [
                {
                  text: "Address"
                },
                {
                  text: "12 Compton Street, Townsville, Countyville, DR34 5TO"
                }
              ]
            ]
          }) }}

        </div>
      </div>

      {% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% set pastWeekHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Profession",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Name and contact",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Organisation",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Type of interaction"
    }

  ],
  rows: [
    [
      {
        text: "Health"
      },
      {
        html: "N/A<br>0580 223123"
      },
      {
        text: "St Thomas Hospital"
      },
      {
        text: "20 Feb 2020",

        attributes: {
          "data-sort-value": "1897"
        }
      },
      {
        text: "Phone call"
      }
    ],
    [
      {
        text: "Social care"
      },
      {
        html: "Tracy Smith<br>07745 999999<br> <a href='#' class='govuk-link'>tsmith@adc.com</a>"
      },
      {
        text: "Arthur Daily Centre"
      },
      {
        text: "01 Feb 2020",

        attributes: {
          "data-sort-value": "1896"
        }
      },
      {
        text: "Email"
      }
    ],
    [
      {
        text: "Police"
      },
      {
        html: "PC Smith<br>0580 887445"
      },
      {
        text: "Townsville Police station"
      },
      {
        text: "20 Aug 2019",

        attributes: {
          "data-sort-value": "1895"
        }
      },
      {
        text: "Home visit"
      }
    ],
    [
      {
        text: "Health"
      },
      {
        html: "N/A<br>0580 223123"
      },
      {
        text: "St Thomas Hospital"
      },
      {
        text: "05 Apr 2019",

        attributes: {
          "data-sort-value": "1894"
        }
      },
      {
        text: "Appointment"
      }
    ]
  ]
}) }}

</div>
</div>
{% endset -%}




{{ govukTabs({
  items: [
  {
    label: "Professional support timeline",
    id: "past-week",
    panel: {
      html: pastWeekHtml
    }
  }
  ]
}) }}


<a href="child-search" class="govuk-link">Search for another child</a>


    </div>
  </div>

{% endblock %}
