{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  
<div data-module="moj-add-another">

  <h2 class="govuk-heading-l" tabindex="-1">Reasons for referral</h2>
  <h2 class="govuk-heading-m" tabindex="-1">Child's health needs</h2>

  <form method="post">

  {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Growth and development",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
        idPrefix: "childhealth",
        name: "childhealth",
        fieldset: {
          legend: {
            text: "Physical wellbeing",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
        idPrefix: "childhealth",
        name: "childhealth",
        fieldset: {
          legend: {
            text: "Mental wellbeing",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
        idPrefix: "childhealth",
        name: "childhealth",
        fieldset: {
          legend: {
            text: "Substance misuse or dependency",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukRadios({
        idPrefix: "childhealth",
        name: "childhealth",
        fieldset: {
          legend: {
            text: "Other health impairments",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Health care issues",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Dietary issues",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Immunisations issues",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Dental issues",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "childhealth",
      name: "childhealth",
      fieldset: {
        legend: {
          text: "Optical issues",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    

    {% set childeducationHint %}
      <p class="govuk-!-margin-top-0">Including any relevant plans i.e. Education Health and Care Plan (EHCP), or any school plans; areas of a child's cognitive development, play and interaction with other children, educational provision, (including early years setting) attendance and attainment levels. </p>
    {% endset -%}
    {{ govukRadios({
        idPrefix: "childeducation",
        name: "childeducation",
        fieldset: {
          legend: {
            text: "Education",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          html: childhealthHint
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
    
    {{ govukCheckboxes({
      idPrefix: "reasonsforreferralchild",
      name: "reasonsforreferralchild",
      fieldset: {
        legend: {
          text: "What are the children's or young persons' development needs that are currently not being met fully?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "health",
          text: "Health - Including growth and development, physical and mental wellbeing, any other health impairments or substance misuse. Appropriate health care, adequate and nutritious diet, exercise, immunisations and developmental checks, dental and optical care."
        },
        {
          value: "education",
          text: "Education - Including any relevant plans i.e. Education Health and Care Plan (EHCP), or any school plans; areas of a child's cognitive development, play and interaction with other children, educational provision, (including early years setting) attendance and attainment levels. "
        },
        {
          value: "emotional and behavioural",
          text: "Emotional and behavioural development - Including the child/young person's overall development, is it age appropriate? Is the child demonstrating attachments? Does the child/young person display any concerning emotional behaviours?"
        },
        {
          value: "Identity, family and social relationships",
          text: "Identity/family and social relationships - To include the child/young person's view of self and own abilities, self-image and self-esteem, having a positive sense of individuality, race, religion, age, gender, sexual orientation and disability. Feelings of belonging and acceptance by family, peer group and wider society, including other cultural groups. Does the parent / carer ensure the children/young people keep in contact with important family members and significant others?"
        },
        {
          value: "Self-care skills and social presentation",
          text: "Self-care skills/social presentation - Including the child having age appropriate self-care skills, appropriate supervision and support to encourage self-care skills and independence? Appropriateness of clothing for age, gender, culture and religion; cleanliness and personal hygiene."
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "reasonsforreferralparent",
      name: "reasonsforreferralparent",
      fieldset: {
        legend: {
          text: "Which things do the parent's or guardain's need help help with?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Basic care and ensuring safety",
          text: "Basic care/ensuring safety - Including all the children/young people's basic needs regarding food, clothing, access to health / education and other services. Is the child/young person adequately protected from significant harm or danger?"
        },
        {
          value: "Emotional warmth and stimulation",
          text: "Emotional warmth/stimulation - Including ensuring the child's requirements for secure, stable and affectionate relationships, with appropriate sensitivity and responsiveness to the child's needs."
        },
        {
          value: "Guidance, boundaries and stability",
          text: "Guidance, boundaries and stability - Including how the parent / carer provide consistent parenting? Are there any challenging / difficult behaviours of the child(ren), and how are these managed? Is the child(ren) provided with a stable family environment? Does the child(ren) have any regular contact with another parent / significant others?"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "reasonsforreferralparent",
      name: "reasonsforreferralparent",
      fieldset: {
        legend: {
          text: "What family and environmental factors are an issue of concern?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Family history and functioning",
          text: "Family history and functioning - Including parent/carer's history, parent/carer's current and historical relationships, any drug, alcohol misuse, health, mental health, disability, learning disability, periods in care, known history of violence, domestic abuse, offending, anti-social behaviour."
        },
        {
          value: "Wider family and significant others",
          text: "Wider family and significant others - Including their role and importance to the child(ren) and parents, what additional support do they provide? i.e. emotional, financial, practical, respite, caring responsibilities."
        },
        {
          value: "Housing, employment and income",
          text: "Housing, employment and income - Including current housing provision, rent arears, appropriate basic amenities of water, heating, cooking facilities, sleeping arrangements and hygiene. Employment status, benefits, debts, support accessed, impact on family member's financial capabilities."
        },
        {
          value: "Social integration and community resources",
          text: "Family's social integration and community resources - Thinking about if the child/family is part of the local neighbourhood/community. Including universal services: health care, day care and schools, places of worship, transport, shops and leisure activities."
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "contribution",
      id: "contribution",
      autocomplete: "contribution",
      classes: 'govuk-input--width-30',
      label: {
        text: "Reason for undertaking this assessment and details of any presenting issues",
        classes: 'govuk-!-font-weight-bold'
      }
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

</div>
  </div>

{% endblock %}