
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}



{{ govukBackLink({
    text: "Back",
    href: "/v8/referral/urgency"
  }) }}

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">You should not use this service</h2>

  <p>Services for level 1 tiered help on the continuum of need should be dealt with by universal services in the families area.</p>

{% endblock %}
