<div class="gov-uk_results-block">
    <div class="result-info" style="overflow: hidden">
        <h2 class="result-region-header__counter" style="float: left"> <span id="resultCounter">{{ pageObject.documents.length}}</span> results for {{ pageObject.details.name }}</h2>
        <div class="sort-options" style="float: right">
            <div id="js-sort-options">
                <div class=" sort-options">
                    <label for="order" class="sort-options__label govuk-label">Sort by</label>
                    <select class="js-order-results govuk-select sort-options__select" name="order" id="order" aria-controls="js-search-results-info" data-default-sort-option="updated-newest" data-relevance-sort-option="relevance" data-module="track-select-change">
                        <option value="updated-newest" selected="" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (newest)">Newest</option>
                        <option value="updated-oldest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (oldest)">Oldest</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
    <div class="finder-results">
        <ol class="gem-c-document-list gem-c-document-list--no-underline">
            {% for item in pageObject.documents %}
                <li class="gem-c-document-list__item  " data-permit-type="{{ item.permitType }}" data-document-type="{{ item.documentType }}" data-file-type="{{ item.fileType }}" >
                    <a class="gem-c-document-list__item-title   gem-c-document-list__item-link"
                       href="/public/EDRM/{{ pageObject.permitNumber }}/{{ item.documentLink }}" target="_blank">{{ item.docTitle }}</a>
                    {#                    <p class="gem-c-document-list__item-description">#}
                    {#                        {{ item.registration }} - {{ item.name }}#}
                    {#                    </p>#}
                    <ul class="gem-c-document-list__item-metadata">
                        <li class="gem-c-document-list__attribute">

                            {#                        <p class="metadata">#}
                            {# <span class="references"> #}
                            {# Ref: <span class="unique_reference">LIT_7665_3febc9.pdf</span> #}
                            {# </span> #}
                            <span class="type"><abbr title="Portable Document Format">{% if item.fileType.length === 0 %}PDF{% else %}{{ item.fileType }}{% endif %}</abbr></span>, <span
                                    class="file-size">928KB</span>
                            {#                        </p>#}
                        </li>
                        {#                        <li class="gem-c-document-list__attribute">#}
                        {#                            {{ item.permitType }}#}
                        {#                        </li>#}
                        <li class="gem-c-document-list__attribute">
                            Updated:
                            <time datetime="{{ item.uploadedOn }}">{{ item.uploadedOn }}</time>
                        </li>
                    </ul>
                </li>
            {% endfor %}

        </ol>
    </div>
</div>