{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "layout.html" %}

{% block pageTitle %}
  Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Email notification</h2>

  <form method="post">


{% set notifyHtml %}
{{ govukInput({
  name: "notifyemail",
  id: "notifyemail",
  label: {
    text: "Email address",
    isPageHeading: false
  },
  hint: {}
}) }}
{% endset -%}


{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  hint: {},
  fieldset: {
        legend: {
          text: 'Would you like the notification sending to psmith@school.com',
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
  items: [
    {
      value: "yes",
      text: "Yes, send to psmith@school.com"
    },
    {
      value: "no",
      text: "No, a different address",
      conditional: {
        html: notifyHtml
      }
    }
  ]
}) }}






      {{ govukButton({
        text: 'Continue',
        href: 'summary'
      }) }}

  </form>

</div>
  </div>

{% endblock %}
