{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Information you need before starting a request for early help and support for a child</h2>


  <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">The family</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>all family members and their contact details</li>
    <li>consent from the parents and guardians</li>
  </ul>

  <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Other people</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>other significant people involved with the family such as grandparents or neighbours</li>
  </ul>

  <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Your details</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>your details of who you are, your relationship and contact</li>
  </ul>

  <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Reason for the request</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>issues the family are facing and how long they have been going on for</li>
    <li>effects the issues are having</li>
    <li>views of the family</li>
    <li>family's desired outcomes</li>
    <li>your desired outcomes</li>
  </ul>

  <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Family history</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>important information that needs to be taken into consideration when looking at the request for help</li>
    <li>previous assessments that may have taken place</li>
  </ul>

  <p>You will be given the opportunity to submit supporting documentation with the request.</p>


  <!--<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    Before you start a referral
  </h2>

  <p class="govuk-body">To use this service, you need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>an understanding of the child's needs</li>
    <li>to <a>check what services the child may be eligible for</a></li>
    <li>consent of the parent or guardian to refer the child for a targeted service</li>
    <li>details and contact details for the child being referred</li>
    <li>to ensure the child is not in immediate danger</li>
  </ul>-->

</div>
  </div>

{% endblock %}
