{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Share supporting documents</h2>

<div data-module="moj-add-another">

  <form method="post">

    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    {{ govukFileUpload({
      id: "file-upload-2",
      name: "file-upload-2",
      label: {
        text: "Upload files."
      }
    }) }}

    {{ govukButton({
      text: 'Upload',
      href: 'task-list-10'
    }) }}

  </form>

</div>
  </div>

{% endblock %}
