{% extends "layout.html" %}

{% block pageTitle %}
    Info sharing - Directory service
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ">
                Service start page
            </h1>

            {{ govukButton({
                text: 'Start now',
                href: './login',
                isStartButton: true
            }) }}

        </div>
    </div>

{% endblock %}
