{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <h2 class="govuk-heading-l" tabindex="-1">What areas does Barry needs help with?</h2>

  <form method="post">
    {{ govukCheckboxes({
      idPrefix: "concernareas",
      name: "concernareas",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "Health",
          text: "Health - physical and developmental issues
"
        },
        {
          value: "Social or emotional",
          text: "Social or emotional - issues with mental health or concerning behaviours
"
        },
        {
          value: "Education",
          text: "Education - issues with learning
"
        },
        {
          value: "Welfare",
          text: "Welfare - issues around their safety, support and well-being
"
        }
      ]
    }) }}


    {{ govukButton({
      text: 'Continue',
      href: 'barry-white-task-list-3'
    }) }}

  </form>

</div>
  </div>

{% endblock %}
