{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <form action="mash" method="post">

  {{ govukRadios({
      idPrefix: "mash",
      name: "mash",
      fieldset: {
        legend: {
          text: "Has an assessment of Barry's additional support needs been carried out?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "This includes..."
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        },
        {
          value: "I don't know",
          text: "I don't know"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

</div>
  </div>

{% endblock %}
