{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "layout.html" %}

{% block pageTitle %}
  Info sharing - Referral service
{% endblock %}

{% block content %}


<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Other significant person</h2>

  <form action="other-significant-adults" method="post">

    {% call govukFieldset({
      classes: 'moj-add-another__item',
      legend: {

        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) %}

    {{ govukInput({
      label: {
        text: "What is their relationship with the person you are requesting help for?",
        classes: "govuk-label--s",
        isPageHeading: true
      },
      classes: 'govuk-input--width-20',
      id: "relationship",
      name: "relationship"
    }) }}

    {{ govukRadios({
      idPrefix: "responsibilities",
      name: "responsibilities",
      fieldset: {
        legend: {
          text: "Parental or guardian responsibilities",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {},
      items: [
        {
          value: "Full-time",
          text: "Full-time"
        },
        {
          value: "Part-time",
          text: "Part-time"
        },
        {
          value: "None",
          text: "None"
        },
        {
          divider: "or"
        },
        {
          value: "Unknown",
          text: "Unknown"
        }
      ]
    }) }}

    {{ govukInput({
      id: 'person[0][first_name]',
      name: 'person[0][first_name]',
      label: {
        html: 'First name',
        classes: 'govuk-!-font-weight-bold'
      },
      classes: 'govuk-input--width-20',
      attributes: {
        'data-name': 'person[%index%][first_name]',
        'data-id': 'person[%index%][first_name]'
      }
    }) }}

    {{ govukInput({
      id: 'person[0][last_name]',
      name: 'person[0][last_name]',
      label: {
        html: 'Last name',
        classes: 'govuk-!-font-weight-bold'
      },
      classes: 'govuk-input--width-20',
      attributes: {
        'data-name': 'person[%index%][last_name]',
        'data-id': 'person[%index%][last_name]'
      }
    }) }}


    {{ govukInput({
      id: 'contact-number',
      name: 'contact-number',
      label: {
        html: 'Telephone number',
        classes: 'govuk-!-font-weight-bold'
      },
      classes: 'govuk-input--width-10',
      attributes: {
        'data-name': 'contact-number',
        'data-id': 'contact-number'
      }
    }) }}

    {{ govukTextarea({
      name: "address",
      id: "address",
      autocomplete: "street-address",
      classes: 'govuk-input--width-20',
      label: {
        text: "Address",
        classes: 'govuk-!-font-weight-bold'
      }
    }) }}


    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: 'Add another person',
        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4',
        type: 'button'
      }) }}
    </div>

    {{ govukButton({
      text: 'Add',
      href: "task-list-4"
    }) }}

  </form>

</div>
  </div>

{% endblock %}
