{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}


  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Is the local authority Kirklees Council?</h2>

  <form action="locality-found" method="post">
  {{ govukRadios({
    idPrefix: "locality-correct",
    name: "locality-correct",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {},
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No, this is the wrong local authority"
      }
    ]
  }) }}

  {{ govukButton({
    text: 'Continue'
  }) }}

</form>

{% endblock %}
