{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}



{{ govukBackLink({
    text: "Back",
    href: "/v8/referral"
  }) }}

  <form action="urgency" method="post">

  {{ govukRadios({
      idPrefix: "urgency",
      name: "urgency",
      fieldset: {
        legend: {
          text: "What do you need to tell us about?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {},
      items: [
        {
          value: "immediate",
          text: "A child or vulnerable person is in immediate danger or is being harmed"
        },
        {
          value: "safeguarding",
          text: "An urgent safeguarding concern"
        },
        {
          value: "less-urgent",
          text: "A request help and support for a family"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

{% endblock %}
