
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Directory service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <a href="child-record-results" class="govuk-link ">Back to results</a>
      </div>
      </div>
      <h1 class="govuk-heading-xl ">

        Fred Bloggs
        <span class="govuk-caption-m">
          Last updated: 22nd Jan 2022
        </span>
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukTable({
            firstCellIsHeader: true,

            rows: [
              [
                {
                  text: "Date of birth"
                },
                {
                  text: "10 Feb 2018 (4 years old)"
                }
              ],
              [
                {
                  text: "Unique identifier"
                },
                {
                  text: "746-987-3432"
                }
              ],
              [
                {
                  text: "Gender"
                },
                {
                  text: "Female"
                }
              ],
              [
                {
                  text: "Ethnic group"
                },
                {
                  text: "White"
                }
              ],
              [
                {
                  text: "Address"
                },
                {
                  text: "12 Compton Street, Townsville, Countyville, DR34 5TO"
                }
              ]
            ]
          }) }}

        </div>
      </div>

      {% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastDayHtml %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">



{{ govukTable({

  firstCellIsHeader: true,
  rows: [
  [
      {
        text: "Consent given to contact"
      },
      {
        text: "Yes"
      }
    ],
  [
      {
        text: "Main contact"
      },
      {
        text: "Diane Bloggs"
      }
    ],
    [
      {
        text: "Connection to child"
      },
      {
        text: "Mother"
      }
    ],
    [
      {
        text: "Mobile"
      },
      {
        text: "07975 000141"
      }
    ],
    [
      {
        text: "Telephone"
      },
      {
        text: "0111 555222"
      }
    ],
    [
      {
        text: "Email"
      },
      {
        text: "d.bloggs@name.com"
      }
    ]
  ]
}) }}


  </div>
  </div>

{% endset -%}

{% set pastWeekHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Profession",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Organisation",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of contact",
      attributes: {
        "aria-sort": "none"
      }
    }

  ],
  rows: [
    [
      {
        text: "Health"
      },
      {
        text: "N/A"
      },
      {
        text: "St Thomas Hospital"
      },
      {
        text: "20 Feb 2020",

        attributes: {
          "data-sort-value": "1897"
        }
      }
    ],
    [
      {
        text: "Social care"
      },
      {
        text: "Tracy Smith"
      },
      {
        text: "Arthur Daily Centre"
      },
      {
        text: "20 Feb 2020",

        attributes: {
          "data-sort-value": "1913"
        }
      }
    ],
    [
      {
        text: "Police"
      },
      {
        text: "PC Smith"
      },
      {
        text: "Townsville Police station"
      },
      {
        text: "20 Feb 2020",

        attributes: {
          "data-sort-value": "1913"
        }
      }
    ],
    [
      {
        text: "Health"
      },
      {
        text: "N/A"
      },
      {
        text: "St Thomas Hospital"
      },
      {
        text: "20 Feb 2020",

        attributes: {
          "data-sort-value": "1913"
        }
      }
    ]
  ]
}) }}






</div>
</div>
{% endset -%}


{% set pastMonthHtml %}
<!--education and medical stuff starts-->

{% from "govuk/components/table/macro.njk" import govukTable %}


{{ govukTable({

  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Current school"
      },
      {
        text: "Townsville primary"
      }
    ],
    [
      {
        text: "Contact details"
      },
      {
        html: "0111 555 555<br><a href='#' class='govuk-link'>info@tvprimary.com</a>"
      }
    ],
    [
      {
        text: "
        Address"
      },
      {
        html: "Townsville primary<br>Scotch Orchard Road<br>Townsville<br>Countyville<br>CT12 7YY"
      }
    ]
  ]
}) }}
<!--education and medical stuff ends-->
{% endset -%}

{% set pastYearHtml %}

{% from "govuk/components/table/macro.njk" import govukTable %}


{{ govukTable({

  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Registered GP"
      },
      {
        text: "Dr Paul Brookes"
      }
    ],
    [
      {
        text: "Contact details"
      },
      {
        html: "0111 000 000<br><a href='#' class='govuk-link'>drpb@doc.com</a>"
      }
    ],
    [
      {
        text: "
        Address"
      },
      {
        html: "Townsville Clinic<br>Townsville<br>Countyville<br>CT12 7YY"
      }
    ]
  ]
}) }}





{% endset -%}

{{ govukTabs({
  items: [
  {
    label: "Professional support timeline",
    id: "past-week",
    panel: {
      html: pastWeekHtml
    }
  },
    {
      label: "Fred's contact details",
      id: "past-day",
      panel: {
        html: pastDayHtml
      }
    },
    {
      label: "Education",
      id: "past-month",
      panel: {
        html: pastMonthHtml
      }
    },
    {
      label: "Registered GP",
      id: "past-year",
      panel: {
        html: pastYearHtml
      }
    }
  ]
}) }}


<a href="child-search" class="govuk-link">Search for another child</a>


    </div>
  </div>

{% endblock %}
