
{% extends "layout-design-history.html" %}

{% block pageTitle %}
Directory design history - Agnostic language
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
         
          {
            text: "Directory Sprints",
            href: "../../directory-index"
          },
          {
            text: "Info sharing - Directory design history",
            href: "directory-index"
          },
          {
            text: "Agnostic language",
            href: "#"
          }
        ]
      }) }}
      <!--article title here-->
          <h1 class="govuk-heading-xl govuk-!-margin-top-9">
            Agnostic language
          </h1>
          </div>
         </div>
         <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds article">
      <!--article content begins-->
            <p class="govuk-body">
              We have changed approach to the language used and design approach  of the directory to ensure that we are utilising an agnostic language style. This covers more than the language used within the content of the design though and came from a co-design session that we ran during Sprint 3.
            <p>
              <h2 class="govuk-heading-l">
                Risks and warnings 
              </h2>
              <p class="govuk-body">
                Prior to this approach being agreed, we had a section within the Directory design that had a few working titles but the aim of the function was always to inform users to potential hazardous situations where flags or alerts may be required.
              <p>
              <p class="govuk-body">
                  It was concluded early on during a co-design session that this function not only wasn't requried within the service, but could also create damaging bias to potential user groups.  
              <p>
                <img src="/public/images/risk-v3.png" alt="Version 3 of the prototype">
                
              <h2 class="govuk-heading-l">
                  Negative bias 
              </h2>
              <p class="govuk-body">
                One of the key user needs for the directory design is "to provide a service with the information regarding touch points for a child and which professionals have been in contact with that child over time, in order for those professionals to be easily contacted". The key point here is to build enough of a picture without distorting the viewpoint for the end user.
              <p>
              <p class="govuk-body">
                During the co-design session  we talked about the negative connotations that could come out of including a risks section to the user interface, how it would be tricky to include what would undoubtedly be a subjective set of data.
              <p>
                
              <h2 class="govuk-heading-l">
                  Context check 
              </h2>
              <p class="govuk-body">
                To ensure that removing information from the design wouldn't remove knowldge that would be requied by the professionals, we taked through a number of potential scenarios to ensure that if there were any situations where professionals may need additional information that they would be able to find the correct level sufficiently. On each occasion it was agreed that the professional timeline followed up with conversations with professionals within the timeline would allow for the relevant information to be surfaced.     
              <p>

                <img src="/public/images/coloured-timeline.png" alt="Version 4 of the prototype with risks removed"> 




                <h2 class="govuk-heading-l">
                 Additional changes 
                </h2>
                <p class="govuk-body">
                  Designs up until Sprint 3 had included a timeline of professional touchpoints that had been using the  <a href="https://design-patterns.service.justice.gov.uk/components/timeline/" class="govuk-link" target="_blank">timline component</a> as definied within the  <a href="https://design-patterns.service.justice.gov.uk/" class="govuk-link" target="_blank">MOJ Design library (opens in a new tab)</a>  but with the addition of the  <a href="https://design-system.service.gov.uk/components/tag/" class="govuk-link" target="_blank">Tag component</a> as featured within GDS.
                  Initial designs had also included various colour styles of tag, denoting different types of interaction, while these hadn't been placed in front of users or at this stage even categorised it was assumed that these would be usef
                <p>
                 <img src="/public/images/risk-v4.png" alt="Version 4 of the prototype with risks removed">

                 <h2 class="govuk-heading-l">
                  Standing assumptions
                 </h2>
                 <p class="govuk-body">
                   at this point in alpha we're still yet to place the designs in front of users, so there are a number of high level assumptions connected with the article and choices made as laid out above:
                 <p>
                   <ul class="govuk-list govuk-list--bullet">
                     <li>
                      the level of detail is sufficient for users
                     </li>
                     <li>
                      it is possible to ascertain potential sitations from the selected timeline period
                     </li>
                     <li>
                       users will wish to view only a certain part of the timeline, but it is currently unknown if filters on time or type of contacts are required
                     </li>
                   </ul>

       <!--article content ends-->
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">
        Related content
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
         side
        </li>
        <li>
          Links if 
        </li>
        <li>
          we need them
        </li>
      </ul>
    </div>
  </div>

{% endblock %}


