
{% extends "layout-design-history.html" %}

{% block pageTitle %}
DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
         
          {
            text: "Directory Sprints",
            href: "../directory-index"
          },
          {
            text: "Info sharing - Directory design history",
            href: "#"
          }
        ]
      }) }}
      
          <h1 class="govuk-heading-xl govuk-!-margin-top-9">
            <span class="govuk-caption-xl">Info sharing - Directory</span>
            Design history
            <span class="govuk-caption-m"> A history of design choices made during Alpha</span>
          </h1>
         
            <!--article list begins-->

            <ul class="govuk-list govuk-!-margin-top-6">
              <li>
               <a href="example-article" class="govuk-link"><h3 class="govuk-heading-m govuk-!-margin-bottom-1">
                  article title
               </h3></a>
                <p class="govuk-body govuk-!-margin-bottom-1">
                  Body of what the article is about
                <p>
                  <span class="govuk-caption-s govuk-!-font-size-14 grey">Date published: 21st Feb 2022</span>
                  <hr>
              </li>
            </ul>

            <!--article list ends-->
    </div>
  </div>

{% endblock %}


