
{% extends "layout-design-history.html" %}

{% block pageTitle %}
DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
        items: [
         
          {
            text: "Directory Sprints",
            href: "../../directory-index"
          },
          {
            text: "Info sharing - Directory design history",
            href: "directory-index"
          },
          {
            text: "article",
            href: "#"
          }
        ]
      }) }}
      <!--article title here-->
          <h1 class="govuk-heading-xl govuk-!-margin-top-9">
            Design history
          </h1>
          </div>
         </div>
         <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <!--article content begins-->
            <p class="govuk-body">
              Article content lives here
            <p>

              <h2 class="govuk-heading-l">
                sub header 
            </h2>

            <!--article content ends-->
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">
        Related content
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
         side
        </li>
        <li>
          Links if 
        </li>
        <li>
          we need them
        </li>
      </ul>
    </div>
  </div>

{% endblock %}


