{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <form action="have-you-searched-1" method="post">

  {{ govukRadios({
      idPrefix: "have-you-searched-1",
      name: "have-you-searched-1",
      fieldset: {
        legend: {
          text: "Have you looked at universal services available?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: 'For example schools, health visiting, GP. You can look on the families local authority website or through search engines.'
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue'
    }) }}

  </form>

{% endblock %}
