{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <form action="hints-to-search" method="post">

  {{ govukRadios({
      idPrefix: "hints-to-search",
      name: "hints-to-search",
      fieldset: {
        legend: {
          text: "How to find universal services",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
      ]
    }) }}


    {{ govukInsetText({
      text: "Universal services are provided by a range of different agencies, including health and education and can be accessed without any extra support or resources"
    }) }}

    <p>Health visitors, GPs and school nurses are all examples of universal services as are leisure centres and parks in the community. These services are expected to make reasonable adjustments to ensure that children and young people with SEND have no barriers to accessing them.</p>

    <h2 class="govuk-heading-m">
      Finding universal services
    </h2>

    <p>To find universal services:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Check on the family's local authority website for universal services available in the area
      </li>
      <li>Do a search online for universal services in the area using a description of the child's needs</li>
    </ul>

    {{ govukButton({
      text: 'Continue',
      href: 'have-you-found-services'
    }) }}

  </form>

{% endblock %}
