<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {% include '../includes/filters/filter-a.html' %}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m">
            Professional contacts
        </h2>

        <table class="govuk-table" data-module="moj-sortable-table">

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Organisation</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Currently involved</th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Interactions
                </th>

            </tr>
            </thead>

            <tbody class="govuk-table__body">

            {% for pro in professionalInteractions %}
                <tr class="govuk-table__row event--filterable"
                    data-interaction-type="{% if pro.organisation.category === 'social' %}familySupport{% else %}{{ pro.organisation.category }}{% endif %}"
                >

                    <td class="govuk-table__cell"><a
                                href="/v{{ verNum }}/directory/professional/{{ pro.organisation.category }}/{{ pro.organisation.id }}/{{ profile.id }}">
                            {{ pro.name }}</a> <br/>
                    </td>

                    <td class="govuk-table__cell">
                        <p class="govuk-!-margin-0">{{ pro.position }}</p>

                        <p class="govuk-!-font-size-14 govuk-!-margin-0">{{ pro.organisation.title }}</p>
                    </td>

                    <td class="govuk-table__cell">
                        {% if pro.currentlyInvolved %}
                            {{ govukTag({
                                text: "Currently involved",
                                classes: "govuk-!-font-size-14"
                            }) }}
                        {% endif %}
                    </td>

                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ pro.events.length }}</td>

                </tr>
            {% endfor %}

            </tbody>

        </table>

    </div>
</div>