<div class="moj-timeline__wrapper">
    {% for event in events %}
        <div class="moj-timeline event--filterable govuk-!-margin-bottom-6"
             data-interaction-type="{{ event.slug }}" data-timestamp="{{ event.timestamp }}" {% if event.significantEvent %} data-significant-event="{{ event.significantEvent }}" {% endif %} >
            <div class="moj-timeline__item">
                <strong class="govuk-tag ">
                    {{ event.category }}
                </strong>
                {% if event.significantEvent %}
                    {{ govukTag({
                        text: "Significant Event",
                        classes: "govuk-tag--red"
                    }) }}
                {% endif %}
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">
                        {{ event.title }}
                    </h2>
                    {% if event.location != null %}
                        <p class="moj-timeline__byline"> - {{ event.location }}</p>
                    {% endif %}

                    <p class="moj-timeline__date">
                        <time datetime="{{ event.datestamp }}">{{ event.dateString }}</time>
                    </p>

                </div>
                {% if designVariant !== 'C' %}
                    <div class="moj-timeline__description">
                        <p>
                            Joe Barker<br>
                            Phone: 07754 558866<br>
                            Email: <a href="#" class="govuk-link">j.barker@emailaddress.com</a>
                        </p>
                    </div>

                    {{ govukDetails({
                        summaryText: "Further details",
                        classes: "govuk-!-margin-bottom-0",
                        html: govukSummaryList({
                            rows: [
                                {
                                    key: {
                                    text: "Type"
                                },
                                    value: {
                                    text: "Home visit"
                                }
                                },
                                {
                                    key: {
                                    text: "Details"
                                },
                                    value: {
                                    text: "Discussed ongoing parental conflict"
                                }
                                },
                                {
                                    key: {
                                    text: "Outcome"
                                },
                                    value: {
                                    text: "Parents to attend parenting course"
                                }
                                }
                            ]
                        })
                    }) }}

                {% endif %}

            </div>
        </div>
    {% endfor %}
</div>
