{% extends "layout.html" %}

{% block pageTitle %}
    Info sharing - Directory service
{% endblock %}

{% block content %}
    <h2 class='govuk-heading-l'>
        Entry points to service
    </h2>

    <h2 class='govuk-heading-m govuk-!-margin-bottom-1'>
        From start page
    </h2>

    <ol class="govuk-list govuk-list--number">
        <li><a href="/v10/directory/entry-points/service-start">Service start page example</a></li>
        <li><a href="/v10/directory/entry-points/login">Login</a></li>
        <li><a href="/v10/directory/search?searchVariant=B">Search (wide search)</a></li>
        <li><a href="/v10/directory/search-results">Search results</a></li>
        <li><a href="/v10/directory/record/4/D">Child record</a></li>
    </ol>

    <h2 class='govuk-heading-m govuk-!-margin-bottom-1'>
        From within a network (clicking a link)
    </h2>

    <ol class="govuk-list govuk-list--number">
        <li><a href="/v10/directory/entry-points/desktop">Desktop - click 'DfE Directory'</a></li>
        <li><a href="/v10/directory/entry-points/login">Login</a></li>
        <li><a href="/v10/directory/search?searchVariant=B">Search (wide search)</a></li>
        <li><a href="/v10/directory/search-results">Search results</a></li>
        <li><a href="/v10/directory/record/4/D">Child record</a></li>
    </ol>

    <h2 class='govuk-heading-m govuk-!-margin-bottom-1'>
        From within software
    </h2>

    <ol class="govuk-list govuk-list--number">
        <li><a href="/v10/directory/entry-points/desktop">Desktop - click 'ABC Software'</a></li>
        <li><a href="/v10/directory/entry-points/software-record">ABC Software</a></li>
        <li><a href="/v10/directory/search?searchVariant=B">Search (wide search)</a></li>
        <li><a href="/v10/directory/search-results">Search results</a></li>
        <li><a href="/v10/directory/record/4/D">Child record</a></li>
    </ol>

{% endblock %}
