
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Directory service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
           <h1 class="govuk-heading-xl ">
        <!--<span class="govuk-caption-xl">Info sharing - Alpha</span>-->
        Child search
      </h1>

      {%- from "moj/components/search/macro.njk" import mojSearch -%}

      {{ mojSearch({
        action: 'search-results',
        method: 'get',
        input: {
          id: 'search',
          name: 'search'
        },


        button: {
          text: 'Search'
        }
      }) }}




    </div>
  </div>

{% endblock %}
