{% extends "layout.html" %}

{% block pageTitle %}
    Info sharing - Directory service
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ">
                Child search
            </h1>
            {% if searchVariant === 'B' %}
                {% include './includes/search/search-b.html' %}
            {% elseif searchVariant === 'C' %}
                {% include './includes/search/search-c.html' %}
            {% else %}
                {% include './includes/search/search-a.html' %}
            {% endif %}

        </div>
    </div>

{% endblock %}
