<h3 class='govuk-heading-m govuk-!-margin-bottom-1'>
    Sprint goals
</h3>
<ul class='govuk-list govuk-list--bullet'>
    <li>
        Identify ways users can 'cut through the detail' - testing with filter options
        {{ govukTag({
            text: "Ongoing",
            classes: "govuk-tag--pink"
        }) }}
    </li>
    <li>
        Better understand the type of the information different user groups need to perform their role
        {{ govukTag({
            text: "Ongoing",
            classes: "govuk-tag--pink"
        }) }}
    </li>
    <li>
       Better understand how users might search for an individual's record
        {{ govukTag({
            text: "Ongoing",
            classes: "govuk-tag--pink"
        }) }}
    </li>
</ul>


<h3 class="govuk-heading-m govuk-!-margin-bottom-1">
    Design asset and information links
</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="https://docs.google.com/document/d/1bTOWDopyqZX4v8Bmq3ekBWkzPwhCtAUzxZNob_gyZHQ/edit"
           class="govuk-link" target="_blank">Decision log</a>
    </li>
    <li>
        <a href="https://lucid.app/lucidspark/21d1c860-552d-41af-820e-2f017b0c9e73/edit#" class="govuk-link"
           target="_blank">Lucid board</a>
    </li>

</ul>

<h3 class="govuk-heading-m govuk-!-margin-bottom-1">
    Prototype links
</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="/v8/directory/child-search" class="govuk-link">Sprint 7 prototype</a>
    </li>
    <li>
        <a href="/v8/directory/ur" class="govuk-link">Sprint 7 UR prompts</a>
    </li>
</ul>

<h3 class="govuk-heading-m">
    Design variants
</h3>
        <h4 class="govuk-heading-s">Timelines</h4>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v8/directory/record/1/D" class="govuk-link">Timeline with filter</a> - uses GOV.UK global search filter style and filter items that we have understood to be useful, namely 'Significant Events', 'Interaction Types' and 'Dates of interactions'.</li>
            <li><a href="/v8/directory/record/1/F" class="govuk-link">Timeline with filter and professional centric views</a> - a variant that displays the same data in a grouping relative to professionals and organisations.</li>
        </ul>
    {{ govukDetails({
        summaryText: "Other design variants",
        html: ''
    }) }}

        <h4 class="govuk-heading-s">Search</h4>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v8/directory/child-search" class="govuk-link">Basic omni-search</a> - potentially allows any input (interface shown to users to date)</li>
            <li><a href="/v8/directory/child-search?searchVariant=B" class="govuk-link">Detailed search</a> - based on common search criteria that we have heard about to date</li>
            <li><a href="/v8/directory/child-search?searchVariant=C" class="govuk-link">Mixture of simple and detailed</a> - a pattern suggested in the Home Office patterns (https://design.homeoffice.gov.uk/patterns/search-for-something)</li>
        </ul>
        <h4 class="govuk-heading-s">Search results</h4>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v8/directory/search-results" class="govuk-link">Basic search results</a> - potentially allows any input (interface shown to users to date)</li>
        </ul>
