
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a onclick="goBack()" class="govuk-back-link pointer govuk-!-margin-bottom-6 govuk-!-margin-top-1">Back</a>
      <h1 class="govuk-heading-xl ">
        <span class="govuk-caption-xl">Info sharing - Alpha</span>
        Child search
      </h1>
    
      {{ govukInput({
        id: "search-criteria",
        name: "search-criteria",
        label: {
          text: "Search field"
        },
        hint: {
          text: "Need to understand what criteria we can search by"
        }
      }) }}
      
      
      {{ govukButton({
        text: "View results",
        href: "child-record-results"
      }) }}

    </div>
  </div>

{% endblock %}
