
{% extends "layout.html" %}

{% block pageTitle %}
DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a onclick="goBack()" class="govuk-back-link pointer govuk-!-margin-bottom-6 govuk-!-margin-top-1">Back</a>
      
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Info sharing - Alpha</span>
        Directory service designs
      </h1>
      <h2 class="govuk-heading-l">
        What is the directory service
      </h2>
      <p class="govuk-body">
        For Professionals actively working with families within a local Authority who want to understand the full picture of a child’s previous interactions with services.
      <p>
      
      <p class="govuk-body">
        It is envisioned to save professionals time trying to identify previous touchpoints, and help professionals understand a child’s complete journey in order to provide the best support possible.
      <p>    
      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ govukTag({
            text: "Latest"
          }) }}
        </span>
        Sprint 0
      </h2>

      

      <h3 class='govuk-heading-m govuk-!-margin-bottom-1'>
        Sprint goals
      </h3>
      <ul class='govuk-list govuk-list--bullet'>
        <li>
          to gain a better understanding of pain points and requirements  
          <strong class='govuk-tag govuk-tag--green'>
            Goal achieved
          </strong>
        </li>
        <li>
          use this information to build out a number of work flows of varying degree of complexity
          <strong class='govuk-tag govuk-tag--green'>
            Goal achieved
          </strong>
        </li>
      </ul>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        What we learnt during this sprint 
      </h3>
      <p class="govuk-body">
        A <a href="https://lucid.app/lucidspark/c2e3ac31-80b6-4448-b327-bb5b8e7fecc2/edit?beaconFlowId=9C68C262C560A7E4&invitationId=inv_069741d1-9c08-4163-a0ba-ad3bd7cc123a#" class="govuk-link" target="_blank">high level flow</a> has been established, this will form the basis of our various iterations, both for searching for child records as well as professional records.
      <p>
        <p class="govuk-body">
          The term 'family' has been deemed out of scope as it is currently difficult too define the makeup of a family. Instead, we are focussing efforts around the child's record and their touchpoints with professionals.
        <p>
          <p class="govuk-body">
            While the project aim is for a nationwide service, cross LA address tracking is considered a post MVS action at present.
          <p>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Design asset links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://lucid.app/lucidspark/c2e3ac31-80b6-4448-b327-bb5b8e7fecc2/edit?beaconFlowId=9C68C262C560A7E4&invitationId=inv_069741d1-9c08-4163-a0ba-ad3bd7cc123a#" class="govuk-link" target="_blank">Lucid board</a>
        </li>
      </ul>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Prototype links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v1/directory/index" class="govuk-link">Sprint 0 - very high level flow</a>
        </li>
      </ul>
      

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Writing well for the web
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This is the content for Writing well for the web.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Writing well for specialists
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>This is the content for Writing well for specialists.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Know your audience
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>This is the content for Know your audience.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                How people read
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class='govuk-body'>This is the content for How people read.</p>
          </div>
        </div>
      </div>



    </div>
  </div>

{% endblock %}


