
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a onclick="goBack()" class="govuk-back-link pointer govuk-!-margin-bottom-6 govuk-!-margin-top-1">Back</a>
      
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Info sharing - Alpha</span>
        Directory service designs
      </h1>
      <h2 class="govuk-heading-l">
        What is the directory service
      </h2>
      <p class="govuk-body">
        For Professionals actively working with families within a local Authority who want to understand the full picture of a child’s previous interactions with services.
      <p>
      
      <p class="govuk-body">
        It is envisioned to save professionals time trying to identify previous touchpoints, and help professionals understand a child’s complete journey in order to provide the best support possible.
      <p>    
      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ govukTag({
            text: "Latest"
          }) }}
        </span>
        Sprint 0
      </h2>

      {{ govukDetails({
        summaryText: "Sprint goals",
        html: 
       "
        <h3 class='govuk-heading-m'>
          Sprint goals
        </h3>
        <ul class='govuk-list govuk-list--bullet'>
          <li>
            to gain a better understanding of pain points and requirements  
            <strong class='govuk-tag govuk-tag--green'>
              Goal achieved
            </strong>
          </li>
          <li>
            use this information to build out a number of work flows of varying degree of complexity
            <strong class='govuk-tag govuk-tag--green'>
              Goal achieved
            </strong>
          </li>
        </ul>
       
       "
      }) }}
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        What we learnt during this sprint 
      </h3>
      <p class="govuk-body">
        What did we learn??
      <p>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Design asset links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://lucid.app/lucidspark/c2e3ac31-80b6-4448-b327-bb5b8e7fecc2/edit?beaconFlowId=9C68C262C560A7E4&invitationId=inv_069741d1-9c08-4163-a0ba-ad3bd7cc123a#" class="govuk-link" target="_blank">Lucid board</a>
        </li>
      </ul>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Prototype links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v1/directory/index" class="govuk-link">Sprint 0 - very high level flow</a>
        </li>
      </ul>
      <!--<h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        User Research feedback 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#" class="govuk-link">Yet to be included</a>
        </li>
      </ul>-->
    </div>
  </div>

{% endblock %}


