
{% extends "layout.html" %}

{% block pageTitle %}
  DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Information sharing prototype
        <span class="govuk-caption-xl">{{ govukTag({
          text: "Alpha"
        }) }}</span>
      </h1>
      <h2 class="govuk-heading-m">
        What is information sharing?
      </h2>
      <p class="govuk-body">
        All documents and links <i>will be</i> collected on a <a href="#" class="govuk-link">Confluence page</a>.
      <p>
        <h2 class="govuk-heading-m">
          Prototype design team
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <b>User Researchers</b>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="#" class="govuk-link">Erin Bramwell</a></li>
              <li><a href="#" class="govuk-link">Sam Belola</a></li>
              <li><a href="#" class="govuk-link">Jessie Ferguson</a></li>
            </ul>
          </li>
          <li>
            <b>Content Designer</b>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link">Laura Croft</a>
              </li>
            </ul>
          </li>
          <li>
            <b>Interaction Designers</b>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link">TBC</a>
              </li>
              <li>
                <a href="#" class="govuk-link">Brian Milman</a>
              </li>
            </ul>
          </li>
        </ul>
        <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-l">
          Prototype links
        </h2>
        <p class="govuk-body">
          During Alpha the project team are looking at two alternative solutions:
        <p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="v1/referrals/index" class="govuk-link">A referral service</a>
            </li>
            <li>
              <a href="v1/directory/index" class="govuk-link">A directory of relevant services</a>
            </li>
          </ul>
         <!-- <form action="version-run" method="post" novalidate data-validate='example-validation'>
          <h2 class="govuk-heading-m govuk-!-margin-top-6">
            Referral service 
            <span class="govuk-caption-m">
              Version links
            </span>
          </h2>
          {{ govukSelect({
            id: "referral-service-links",
            name: "referral-service-links",
            label: {
              text: "Select which version you'd like to see"
            },
            
            items: [
              {
                value: " ",
                text: ""
              },
              {
                value: "Version 1",
                text: "Version 1"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Run selected version"
          }) }}


          <h2 class="govuk-heading-m govuk-!-margin-top-6">
            Directory service  <span class="govuk-caption-m">
              Version links
            </span>
          </h2>
          {{ govukSelect({
            id: "directory-service-links",
            name: "directory-service-links",
            label: {
              text: "Select which version you'd like to see"
            },
            
            items: [
              {
                value: " ",
                text: " "
              },
              {
                value: "Version 1",
                text: "Version 1"
              },
              
              {
                value: "Version 1",
                text: "Version 1"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Run selected version"
          }) }}
        </form> -->
    </div>
  </div>

{% endblock %}
