
{% extends "layout.html" %}

{% block pageTitle %}
  DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ govukTag({
          text: "Alpha"
        }) }}</span>
        Information sharing prototype

      </h1>
      <!--<h2 class="govuk-heading-m">
        What is information sharing?
      </h2>
      <p class="govuk-body">
        All documents and links <i>will be</i> collected on a <a href="#" class="govuk-link">Confluence page</a>.
      <p>-->

      <h2 class="govuk-heading-l">
        Alpha designs
      </h2>
      <p class="govuk-body">
        In alpha the project team are looking at 2 ideas:
      <p>
      <h3 class="govuk-heading-m">
        Directory of professionals service
      </h3>

              {{ govukButton({
                text: "Directory service designs",
                href: "directory-index"
              }) }}
      <br><br>
      <h3 class="govuk-heading-m">
        Digital referral service
      </h3>

            <p class="govuk-body">
              For Professionals actively working with families within a local Authority who need to understand the availability and make actionable referrals to targeted services that families are eligible for.
            <p>
              {{ govukButton({
                text: "Referral service designs",
                href: "referral-index"
              }) }}

        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">

        <h2 class="govuk-heading-l">
          Project design team
        </h2>

        <h3 class="govuk-heading-m">
          User-centred design lead
        </h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="mailto:jessica.ferguson@education.gov.uk" class="govuk-link">Jessie Ferguson</a></li>
        </ul>

        <h3 class="govuk-heading-m">
          Service designers
        </h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="mailto:debbie.kitchen@digital.education.gov.uk" class="govuk-link">Debbie Kitchen</a></li>
            <li><a href="mailto:daniel.tuitt@digital.education.gov.uk" class="govuk-link">Daniel Tuitt</a></li>
        </ul>

        <h3 class="govuk-heading-m">
          User Researchers
        </h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="mailto:erin.bramwell@education.gov.uk" class="govuk-link">Erin Bramwell</a></li>
            <li><a href="mailto:ismail.murad@digital.education.gov.uk" class="govuk-link">Ismail Murad</a></li>
            <li><a href="mailto:elizabeth.hitchins@digital.education.gov.uk" class="govuk-link">Liz Hitchins</a></li>
        </ul>

        <h3 class="govuk-heading-m">
          Content Designer
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="mailto:tom.simcox@education.gov.uk" class="govuk-link">Tom Simcox</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">
          Interaction Designers
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Luke Grice -
                <a href="mailto:luke.grice@digital.education.gov.uk" class="govuk-link">DfE Digital contact</a>,
                <a href="mailto:luke.grice@and.digital" class="govuk-link">AND Digital contact</a>
          </li>
          <li>
            <a href="mailto:ben.watson@digital.education.gov.uk" class="govuk-link">Ben Watson</a>
          </li>
        </ul>

    </div>
  </div>

{% endblock %}
