
{% extends "layout.html" %}

{% block pageTitle %}
  DfE - Info sharing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ govukTag({
          text: "Alpha"
        }) }}</span>
        Information sharing prototype design history
        
      </h1>
      <h2 class="govuk-heading-m">
        What is information sharing?
      </h2>
      <p class="govuk-body">
        All documents and links <i>will be</i> collected on a <a href="#" class="govuk-link">Confluence page</a>.
      <p>
        <h2 class="govuk-heading-m">
          Who's on this project's design team?
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <b>User Researchers</b>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="#" class="govuk-link">Erin Bramwell</a></li>
              <li><a href="#" class="govuk-link">Sam Belola</a></li>
              <li><a href="#" class="govuk-link">Jessie Ferguson</a></li>
            </ul>
          </li>
          <li>
            <b>Content Designer</b>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link">Laura Croft</a>
              </li>
            </ul>
          </li>
          <li>
            <b>Interaction Designers</b>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link">Luke Grice</a>
              </li>
              <li>
                <a href="#" class="govuk-link">Brian Milman</a>
              </li>
            </ul>
          </li>
        </ul>
        <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-l">
          Alpha - Variant  design plan
        </h2>
        <p class="govuk-body">
          During Alpha the project team are looking at two alternative solutions:
        <p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="directory-index" class="govuk-link">Directory of professionals who have interacted with a child/family</a>
              <p class="govuk-body">
                Who have interacted with a child/family
              <p>
                {{ govukButton({
                  text: "Go to the Directory designs",
                  href: "directory-index"
                }) }}
            </li>
            <li>
              <a href="referral-index" class="govuk-link">Digital referral service</a>
              <p class="govuk-body">
                For Professionals actively working with families within a local Authority who need to understand the availability and make actionable referrals to targeted services that families are eligible for. 
              <p>
                {{ govukButton({
                  text: "Go to the Referral Service designs",
                  href: "referral-index"
                }) }}
            </li>
           
          </ul>
         <!-- <form action="version-run" method="post" novalidate data-validate='example-validation'>
          <h2 class="govuk-heading-m govuk-!-margin-top-6">
            Referral service 
            <span class="govuk-caption-m">
              Version links
            </span>
          </h2>
          {{ govukSelect({
            id: "referral-service-links",
            name: "referral-service-links",
            label: {
              text: "Select which version you'd like to see"
            },
            
            items: [
              {
                value: " ",
                text: ""
              },
              {
                value: "Version 1",
                text: "Version 1"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Run selected version"
          }) }}


          <h2 class="govuk-heading-m govuk-!-margin-top-6">
            Directory service  <span class="govuk-caption-m">
              Version links
            </span>
          </h2>
          {{ govukSelect({
            id: "directory-service-links",
            name: "directory-service-links",
            label: {
              text: "Select which version you'd like to see"
            },
            
            items: [
              {
                value: " ",
                text: " "
              },
              {
                value: "Version 1",
                text: "Version 1"
              },
              
              {
                value: "Version 1",
                text: "Version 1"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Run selected version"
          }) }}
        </form> -->
    </div>
  </div>

{% endblock %}
