
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a onclick="goBack()" class="govuk-back-link pointer govuk-!-margin-bottom-6 govuk-!-margin-top-1">Back</a>

     
      <h1 class="govuk-heading-xl ">
        <span class="govuk-caption-xl">Info sharing - Alpha</span>
        Referral service designs
      </h1>
      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ govukTag({
            text: "Latest"
          }) }}
        </span>
        Sprint 0
      </h2>

      {{ govukDetails({
        summaryText: "Sprint goals",
        html: 
       "
        <h3 class='govuk-heading-m'>
          Sprint goals
        </h3>
        <p class='govuk-body'>
          New members to have a deeper understanding of the discovery and requirements in order to be able to design a new service in Sprint 1 (Early 2022)
        <p>
       "
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Design asset links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://lucid.app/documents#/documents?folder_id=277064132" class="govuk-link" target="_blank">Lucid team</a>
        </li>
        <li>
          <a href="https://lucid.app/lucidspark/d30854d2-fa2c-4389-b90f-fe9304f75847/edit?beaconFlowId=79F0678A23C105E6&invitationId=inv_0ffbc440-aacf-4ffe-9f80-501d11fc1e95#" class="govuk-link" target="_blank">Lucid board</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Prototype links 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v1/referral/index" class="govuk-link">Firsts assumption driven draft</a>
        </li>
      </ul>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        User Research feedback 
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#" class="govuk-link">Yet to be included</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

