{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}

{% block pageTitle %}
Info sharing - Referral service
{% endblock %}

{% block content %}



{{ govukBackLink({
    text: "Back",
    href: "/v8/referral"
  }) }}

  <form action="priority-rating" method="post">

    {{ govukRadios({
      idPrefix: "time-scale",
      name: "time-scale",
      fieldset: {
        legend: {
          text: "How capable are the family of dealing with these vulnerabilities?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Urgency of the families need for help"
      },
      items: [
        {
          value: "Capable",
          text: "They cope well"
        },
        {
          value: "Somewhat capable",
          text: "They cope most of the time"
        },
        {
          value: "Struggle",
          text: "They sometimes struggle"
        },
        {
          value: "Not capable",
          text: "They are not capable"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Continue',
      href: 'task-list'
    }) }}

  </form>

{% endblock %}
