<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set orgItems = [] %}
        {% for org in organisationInteractions %}
            {% set orgDetails = [] %}
            {% for contactItem in org %}
                {% set orgDetails = (orgDetails.push(
                {
                    key: {
                        text: 'contactItem'
                    },
                    value: {
                        text: 'contactItem'
                    }
                }
            ), orgDetails) %}
            {% endfor %}
            {% set orgItems = (orgItems.push(
                {
                    heading: {
                    text: org.title + ' (' + org.events.length + ' interactions)'
                },
                    content: {
                        html:  govukSummaryList({ rows: orgDetails })
                    }
                }), orgItems) %}
        {% endfor %}

        {{ govukAccordion({
            id: "organisations",
            items: orgItems
        }) }}

    </div>
</div>